# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.properties
account-rest/nbproject/private/private.properties
/todo/todo-data-db-impl/build
/todo/todo-logic-impl/build/
/todo/todo-data-api/dist/
/todo/todo-util/dist/
/todo/todo-util/build/
/todo/todo-data-db-impl/dist/
/todo/todo-data-flatfile-impl/build/
/todo/todo-logic-api/build/
/todo/todo-data-flatfile-impl/dist/
/todo/todo-logic-api/dist/
/todo/todo-logic-impl/dist/
/todo/todo-rest/build/
/todo/todo-rest/dist/
*.jar

*.jar

*.properties

*.properties

*.properties

*.properties

account-data-api/build/built-jar.properties

account-data-api/build/built-jar.properties

*.properties

*.jar

account-data-api/build/built-jar.properties

account-data-api/dist/account-data-api.jar

account-data-impl-db/dist/account-data-impl-db.jar

account-logic-api/build/built-jar.properties

account-rest/build/web/WEB-INF/lib/account-data-api.jar

account-rest/build/web/WEB-INF/lib/account-data-impl-db.jar

account-rest/build/web/WEB-INF/lib/account-logic-impl.jar

account-logic-test/build/built-jar.properties

account-data-api/dist/account-data-api.jar

account-data-api/dist/account-data-api.jar

account-data-impl-db/dist/account-data-impl-db.jar

account-logic-api/dist/account-logic-api.jar

account-logic-impl/dist/account-logic-impl.jar

account-logic-test/build/built-jar.properties

account-logic-test/build/test/results/TEST-se.liu.ida.tdp024.account.logic.test.facade.AccountLogicFacadeTest.xml

account-logic-test/derby.log

account-rest/build/web/WEB-INF/lib/account-data-api.jar

account-rest/build/web/WEB-INF/lib/account-data-impl-db.jar

*.jar

account-rest/build/web/WEB-INF/lib/account-logic-api.jar

account-rest/build/web/WEB-INF/lib/account-logic-impl.jar

account-data-api/nbproject/private/private.properties
account-data-api/build/built-jar.properties
/account-xfinal-test/dist/